/* GENERAL */
/* NAVBAR */
.counter{
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 100%;
    font-size: 12px;
    color: white;
    position: absolute;
    top: -9px;
    right: -9px;
}
body {
    background-color: #f1f1f1;
    margin: auto;
}
